.header {
  background: #5687E4;
}
li:nth-child(4n+0) {
  background-color: #4369B1;
}
li:nth-child(4n+1) {
  background-color: #4369B1;
}
li:nth-child(4n+2) {
  background-color: #3E61A3;
}
li:nth-child(4n+3) {
  background-color: #3E61A3;
}

