.country {
  height: 150px;
  width: 100%;
}

.c-img {
  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(353deg) brightness(97%) contrast(107%);
}

button {
  background-color: transparent;
  border: none;
}
